.profile__image {
    display: flex;
    border-radius: 50%;
    object-fit: contain;
    width: 120px;
    height: 120px;
    margin-right: 30px;
    background-image: url(../../../images/Cousteau.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}


@media screen and (max-width: 700px) {
    .profile__image {
        margin: 0;
    }
}